page_width = 565
page_height = 259
bubble_width = 11
bubble_height = 11
qr_x = 24
qr_y = 137
id_rows = 10
id_columns = 9
id_x_min = 343
id_y_min = 35
id_x_max = 541
id_y_max = 193
version_x = 24
version_y = 21
version_x_min = 208
version_x_max = 270
version_y_min = 75
version_y_max = 86
answer_x = 24
answer_y = 203
answer_1_x_min = 65
answer_1_x_max = 150
answer_2_x_min = 248
answer_2_x_max = 334
answer_3_x_min = 432
answer_3_x_max = 517
answer_y_min = 210
answer_y_max = 238